= render 'breadcrumb'
= form_with model: @bot, url: next_wizard_path, method: :put, local: true do |f|
  %section.section
    .container
      %h5.title.is-5= f.label :currency_pair
      .control
        .select
          = f.collection_select :currency_pair_id, @currency_pairs, :id, :name
      %p.help= link_to '現在の市場', btc_jpy_market_path
  %section.section
    .container
      %h5.title.is-5= f.label :type
      .columns
        - @bot.each_concrete_class_name do |name, dictionay_name, ref_path|
          .column
            %article.message.is-info
              .message-header
                = f.radio_button :type, name
                %p= I18n.t("#{dictionay_name}.strategy")
              .message-body
                = I18n.t("#{dictionay_name}.introduction")
                = link_to 'Learn More', ref_path
      .control.has-text-centered
        = f.submit t('next'), class: 'button'
