= bot.render_detail

%section.section
  .container
    %h5.title= t('activerecord.models.order_log')
    %table.table.is-striped.is-fullwidth
      %thead
        %tr
          %th= t('activerecord.attributes.order_logs.created_at')
          %th= t('activerecord.attributes.order_logs.message')
      %tbody
        - bot.order_logs.each do |ol|
          %tr
            %td= ol.created_at
            %td= ol.message
